body {
            background-color:#fdf5e6;
            font-family: Sans-Serif;
            text-align:center;
}
table {
            margin-left:auto;
            margin-right:auto;
}         
#business{
            border-collapse:collapse;
}
td {
            border:1px solid #eed9ba;
}
th,  input{
            background-color:#eecbad;
            color:#ffffff;
}
 